*{
    padding: 0;
    margin: 0;
}

#bg{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    background-image: url(../jumping_koopa/img/bg.webp);

    background-size: contain;

}

#mario{
    height: 100px;
    width: 100px;
}
#character{
    width: 20px;
    height: 50px;
    /* background: linear-gradient(to bottom, rgb(66, 255, 66), rgb(255, 123, 123)) ; */
    position: absolute;
    top: 640px;
    left: 200px;
    /* animation: jump 500ms infinite; */
}

.animate{
    animation: jump 500ms;
}


@keyframes jump{
    0%{top: 640px;}
    30%{top: 450px;}
    70%{top: 450px;}
    100%{top: 640px;}
}

#block{
    width: 25px;
    height: 25px;
    /* background:linear-gradient(to bottom, rgb(36, 98, 5) 20vh, rgb(108, 70, 30) 50vh); */
    position: relative;
    border-radius: 50%;
    top: 695px;
    left: 675px;
    animation: block 2s infinite linear;

}
#evil{
    width: 45px;
    height: 45px;
}


@keyframes block{
    0%{left:200vh;}
    100%{left: -20px;}
}

